codes/loop/loop-c/.vs/
codes/loop/loop-c/out/
codes/sum/sum/.vs/sum/CopilotIndices/0.2.1634.3922/CodeChunks.db
codes/sum/sum/.vs/
codes/sum/sum/Debug/
codes/sum/sum/sum/Debug/
codes/sum/sum/sum-c/Debug/
